.userinfo-list {
	margin-top: 15px;
	margin-bottom: 5px;
}

.list-item-headimg {
	border-radius: 50%;
	height: 24px;
	width: 24px;
}

#card-recommendeds {
	padding: 15px;
}

.recommendeds-item {
	margin-top: 5px;
}