target/
out/
filemanager-deloy.sh
META-INF/

### NOT MAVEN PROJECT ###
WebRoot/WEB-INF/classes/
.mymetadata
.tern-project

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
/build/
nbbuild/
/dist/
nbdist/
.nb-gradle/

### Maven ###
.mvn
src/main/webapp/images/ck_images/
src/main/webapp/images/homeClassify_cover/
src/main/webapp/images/navi/
src/main/webapp/images/product_cover/
src/main/webapp/images/vipcard/
src/test/
