.badge-type {
	margin: 5px;
}

.zone-card {
    padding: 10px 0;
    height: 42px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.homeclassify-chip {
    color: #fff;
    background-color: #0275d8;
    margin: 0 5px 0 5px;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    word-break: break-all;
}

.homezone-chip {
    color: #fff;
    background-color: #5CB85C;
    margin: 0 5px 0 5px;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    word-break: break-all;
}

.close-icon-span {
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
}