.blueText {
    color: #0275d8;
}
.redText {
    color: #d9534f;
}
.greenText {
    color: #5cb85c;
}
.orangeText {
    color: #f0ad4e;
}
.grayText {
    color: #636c72;
}
.brownText {
    color: #8a6d3b;
}