.navbar-title {
	 text-align: center;
}

.product-item-cover {
	width: 64px;
	height: 64px;
}

#return-order-button {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 20px;
	margin-bottom: 70px;
	z-index: 900;
}

.order-badge {
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 5px;
}